/* Global styles */
:root {
	--page-color-background:#fff;
	--page-color-text:#222;
	--link-color:#00f;
	--link-color-hover:#f00;
	--button-color-background:#8af;
	--button-color-hover:#acf;
	--footer-height:75px;
}
@font-face {
	font-family:'Babylon5';
	src:url('Serpentine-Bold-Bold.woff');
	font-weight:bold;
}
html {height:100%}
body {
	margin:0;
	background:var(--page-color-background);
	color:var(--page-color-text);
	height:100%;
	overflow-y:scroll;
	font-family:Open Sans;
}
#body-outer {
	position:relative;
	min-height:100%;
	margin-top:0;
}
#body-inner {
	padding-bottom:var(--footer-height);
}
.container {
	position:relative;
	width:100%;
	margin:0;
}
a {
	position:relative;
	text-decoration:none;
	color:var(--link-color);
	transition:color 0.2s ease-in-out;
}
a:hover {
	color:var(--link-color-hover);
}

button {
	cursor:pointer;
	background-color:var(--button-color-background);
	padding:2px 10px;
	border:none;
	border-radius:5px;
	font-size:1rem;
	transition:background-color 0.2s ease-in-out;
}
button:hover {
	background-color:var(--button-color-hover);
}
h1 {
	font-family:'Babylon5';
	font-size:2.5rem;
	padding:0.5rem 0;
	margin:0;
}
h2 {
	font-family:'Roboto Slab';
	font-size:1.5rem;
	margin:0;
}
h3 {
	font-family:'Babylon5';
	font-size:1.5rem;
	margin:0;
}
p {margin-top:0; margin-bottom:0}

#footer {
	position:absolute;
	width:100%;
	bottom:0;
	height:var(--footer-height);
	backdrop-filter:blur(3px) brightness(0.5);
	border-top:2px solid rgba(0,0,0,0.3);
	color:#eee;
}
#footer .container {
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:auto;
}

/* MAIN PAGE */
.body-space::before {
	content:'';
	position:fixed;
	background:url('../icons/bg.jpg') no-repeat center;
	background-size:cover;
	width:100vw;
	height:100vh;
	z-index:-1;
}
.index-cards {
	display:flex;
	justify-content:space-around;
	flex-direction:column;
	color:#eee;
}
.index-cards a {
	position:relative;
	text-decoration:none;
	color:#ff0;
	transition:color 0.2s ease-in-out;
}
.index-cards a::before {
	content:'';
	position:absolute;
	height:2px;
	width:100%;
	bottom:0;
	background-color:#ff0;
	transform:scaleX(0);
	transition:transform 0.2s linear;
}
.index-cards a:hover {
	color:#ff0;
}
.index-cards a:hover::before {
	transform:scaleX(1);
}
.index-card {
	margin:0 10px 20px 10px;
	backdrop-filter:blur(3px) brightness(0.7);
	border-radius:20px;
	border:2px solid rgba(0,0,0,0.3);
	flex-basis:0;
	flex-grow:1;
}
.index-card img {
	margin-top:7px;
	border-radius:10px;
	width:250px;
	height:40px;
	object-fit:cover;
}
#popup-preview {
	display:none;
	position:absolute;
	z-index:10;
	margin-top:30px;
	background:#fff;
	border:1px solid #000;
	padding:10px;
	transform:translateX(-50%);
}

/* SHIP LIST */
.ship-list {
	text-align:center;
}
.ship-list-table {
	display:flex;
	flex-direction:column;
	font-size:0.85rem;
}
.ship-levels-row {
	display:none;
}
.ship-list-table div {
	flex:1;
	padding:0;
}
.ship-list-table > div:nth-child(even) {
	background:#ddd;
}
.ship-list-table > div:nth-child(odd) {
	background:#eee;
}
.link-station {
	color:#090;
}
.link-auxcraft {
	color:#b90;
}

/* SHIP SHEET */
.ship-main-table {
	position:relative;
	width:95%;
	page-break-inside:avoid;
	border:1px solid black;
	margin:7px auto;
	border-collapse:collapse;
	font-family:'Babylon5';
	font-size:7pt;
	color:#000;
}
.nomobile {display:none}
.ship-col-1 {min-width:50%}
.ship-col-2 {width:40px}
.ship-col-3 {width:20px}
.ship-col-25 {width:25%}
.ship-col-12 {width:12%}
.ship-close {
	position:absolute;
	top:2px;
	left:2px;
	width:17px;
	height:17px;
	border-radius:50%;
	color:#ddd;
	font-family:Arial;
	background-color:#f00;
	cursor:pointer;
}

.aux-craft-container {
	width:95%;
	display:flex;
	flex-wrap:wrap;
	margin:0 auto;
}
.aux-craft-table {
	width:300px;
	border:1px solid black;
	margin:7px auto;
	border-collapse:collapse;
	font-family:'Babylon5';
	font-size:7pt;
	color:#000;
}
.ship-main-table > tbody > tr > td, .aux-craft-table > tbody > tr > td {
	border:1px solid #000;
}
.ship-main-table .heading, .aux-craft-table .heading {
	font-size:12pt;
	text-align:center;
}
.ship-main-table .subheading, .aux-craft-table .subheading {
	text-align:center;
	height:12px;
}
.ship-main-table .grey, .aux-craft-table .grey {
	background:#ddd;
}
.ship-info-table {
	width:100%;
	border-collapse:collapse;
	border:0;
	font-size:8pt;
	vertical-align:top;
}
.ship-info-table td:first-child {
	vertical-align:top;
	width:33%;
}
.ship-weapons-table {
	width:100%;
	border-collapse:collapse;
	margin-top:10px;
}
.ship-weapons-table thead {background:#ddd}
.ship-weapons-table th:first-child {text-align:left}
.ship-weapons-table .arc {
	text-align:center !important;
	font-size:10pt;
}
.ship-weapons-table td {text-align:center}
.ship-weapons-table td:first-child {text-align:left}
.ship-damage-boxes {
	display:flex;
	flex-wrap:wrap;
	margin-bottom:5px;
}
.ship-dmg {
	width:10%;
	height:8px;
	border:1px solid #000;
	border-top:0;
	border-left:0;
	box-sizing:border-box;
	border-collapse:collapse;
	background:#fff;
}
.ship-name {
	font-family:Arial;
	font-size:7pt;
	margin:auto;
	max-width:58px;
}
.ship-cq {
	max-width:18px;
}
.ship-name::after, .ship-cq::after {
	content:'';
	position:absolute;
	height:1px;
	width:90%;
	left:5%;
	bottom:1px;
	background-color:#f00;
}

.fighter-swappable {cursor:pointer}
.fighter-swappable::after {
	content:'';
	display:inline-block;
	width:0;
	height:0;
	border:7px solid red;
	border-bottom:none;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	margin-left:6px;

}
.fighter-select {
	background:#ffa;
	margin:0 20px;
	display:none;
}
.fighter-select.active {
	display:block;
}
.fighter-select-row {
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:1px 2px;

}
.fighter-select-box {
	width:35px;
	font-family:'Babylon5';
	font-size:8pt;
}
.fighters-warning {
	color:#f00;
}
.missile-swapicon {
	color:#f00;
}

.online-main-table {
	width:640px;
	border:2px solid black;
	margin:7px auto;
	border-spacing:2px;
	padding:5px;
	color:#000;
	font-family:Arial;
}
.online-main-table td {
	vertical-align:top;
}

.fleet-add-box {
	width:clamp(270px,90%,600px);
	margin:10px auto;
	padding:10px;
	text-align:center;
	background:#ddd;
	border:1px solid #000;
}

@media (min-width:660px) {
	.display-mobile {display:none}
	.nomobile {display:revert}
	.ship-main-table {width:640px}
	.aux-craft-container {width:640px}
}
@media (min-width:780px) {
	.container {
		width:clamp(760px,80%,1200px);
		margin:0 auto;
	}
	.index-cards {
		flex-direction:row;
	}
	.ship-list {
		margin:30px auto;
		box-shadow:0 0 15px 4px rgba(32,32,64,0.7);
	}
	.ship-list-table {flex-direction:row}
	.ship-list-table div {padding:3px 0}
	.ship-levels-row {
		display:flex;
		margin-top:10px;
	}
	.ship-levels-inline {display:none}
}
@media print {
	.noprint, .fighter-swappable::after, .fleet-add-box, .ship-name::after, .ship-cq::after, .ship-close {display:none !important}
	.display-mobile {display:none}
	.nomobile {display:revert}
}
